/* Flexbox of the facilities of the hotel */

.l-facilities {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-facilities__title {
    color: var(--gold, gold);
    margin-top: 3vh;
    font-size: 2rem;
    letter-spacing: 3px;
}

.l-facilities__list {
    display: flex;
}

.c-facilities__item {
    list-style: none;
    margin: 3vh 4vw;
}